################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio specific files and folders
/.vs
/.vs/slnx.sqlite

# Ignore build outputs
/API/bin/
/API/obj/

# Ignore NuGet cache files
/API/obj/API.csproj.nuget.dgspec.json
/API/obj/API.csproj.nuget.g.props
/API/obj/project.assets.json
/API/obj/project.nuget.cache

# Ignore SQLite database files
/API/store.db
/API/store.db-shm
/API/store.db-wal
API/store.db-shm
