################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/obj/Release/net7.0
/API/obj/Debug/net7.0/API.AssemblyInfo.cs
/API/obj/Debug/net7.0/API.AssemblyInfoInputs.cache
/API/obj/API.csproj.nuget.dgspec.json
/API/obj/project.nuget.cache
/.vs/slnx.sqlite
/API
.vs/eGradskaUprava/FileContentIndex/86453ca1-64e2-4f8d-b318-007f3f671ac2.vsidx
